.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #fff; /* White background */
  color: #03084A; /* Dark blue text */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  box-sizing: border-box;
  transition: background-color 0.3s;
}

.header:hover {
  background-color: #fff; /* Keep white on hover */
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo img {
  height: 50px;
  border-radius: 50%; /* Circular logo */
}

.logo-text {
  font-size: 1.3em;
  font-weight: 700;
  color: #03084A; /* Dark blue text */
  letter-spacing: 1px;
  font-family: Arial, sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

nav a {
  margin: 0 20px;
  color: #03084A; /* Dark blue text */
  text-decoration: none;
  font-family: Arial, sans-serif;
  position: relative;
  font-weight: 750;
}

nav a:hover::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #03084A; /* Dark blue underline on hover */
}

.language {
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  font-weight: 700;
}

.dropdown-arrow {
  margin-left: 5px;
}